# Astronomy Photo of the Day
## Title: {{ apod.title }}
### Date: {{ apod.date }}
### Explaination: {{ apod.explanation }}
### URLs 
#### [Hi Definition]({{ apod.hdurl }})
#### [Regular Definiton ]({{ apod.hdurl }})
### Copyright {{ apod.copyright }}