# People In Space
## Craft
### International Space Station
{%- for craft in people.people if craft.craft == "ISS"%}
#### {{ craft.name }}
{%- endfor %}
### Shenzhou 13
{%- for craft in people.people if craft.craft == "Tiangong" %}
#### {{ craft.name }}
{%- endfor %}
## Total Number: {{ people.number }}